<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTestSize="true"
         checkForUnintentionallyCoveredCode="false"
         timeoutForSmallTests="100"
         timeoutForMediumTests="145"
         timeoutForLargeTests="165"
         syntaxCheck="false"
         bootstrap="SugarTestHelper.php"
        >
    <php>
        <ini name="intl.default_locale" value="en"/>
        <ini name="intl.error_level" value="0"/>
        <ini name="memory_limit" value="-1"/>
    </php>

    <testsuites>
 
        <testsuite name="Test Suite">
            <directory>../custom/tests/</directory>
        </testsuite>
 
    </testsuites>
    <filter>
        <blacklist>
            <file>./../config.php</file>
            <file>./../modules/*/vardefs.php</file>
            <directory>./src</directory>
            <directory>./cache</directory>
            <directory>../cache</directory>
            <directory>../clients/*/</directory>
            <directory>../custom/</directory>
            <directory>../include/language/</directory>
            <directory>../metadata/</directory>
            <directory>../modules/*/clients/*/</directory>
            <directory>../modules/*/language/</directory>
            <directory>../modules/*/metadata/</directory>
            <directory>../soap</directory>
            <directory>../tests</directory>
            <directory>../vendor</directory>
            <exclude>
                <directory>./../clients/*/api/</directory>
                <directory>./../modules/*/clients/*/api/</directory>
            </exclude>
        </blacklist>
        <whitelist>
            <exclude>
                <directory>./soap/</directory>
                <directory>./service/</directory>
                <directory>./rest/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>