<table border="1">

<h4>User Info:</h4>

<tr>
<th>User Id</th>
<th>Full Name</th>
<th>Email</th>
<th>Status</th>
</tr>

<tr>
<td>{{id}}</td>
<td>{{fullname}}</td>
<td>{{email}}</td>
<td>{{status}}</td>
</tr>


</table>